/* soft reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: 100vw 100vh;
  font-size: 1em;
  height: 100vh;
}

/* FONTS */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cdm6kk');
  src:  url('fonts/icomoon.eot?cdm6kk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cdm6kk') format('truetype'),
    url('fonts/icomoon.woff?cdm6kk') format('woff'),
    url('fonts/icomoon.svg?cdm6kk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {content: "\e900";}
.icon-delete:before {content: "\e901";}
.icon-facebook:before {content: "\e902";}
.icon-github:before {content: "\e903";}
.icon-google:before {content: "\e904";}
.icon-image:before {content: "\e905";}
.icon-like:before {content: "\e906";}
.icon-profile:before {content: "\e907";}
/*------------*/

/* containers */
.flex {
  display: flex;
  justify-content: center;
}

.center {
  align-items: center;
}

.row-desk {
  flex-direction: column;
}

.column {
  flex-direction: column;
}

.container-login {
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.container-home {
  background-color: rgb(194, 133, 255, 0.30);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*------------*/

/*login*/
.login h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.8em;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-top: 20px;
  text-align: center;
}

.login strong {
  font-weight: 900;
  color: #3f1583;
}

.alert {
  color: #3f1583;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 0.01em;
  margin: 2.5px 0 12px;
  text-align: center;
}

.welcome {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  font-size: 0.87em;
  letter-spacing: 0.02em;
  margin: 2.5px 0 20px;
}
/*------------*/

/*forms*/
.register {
  width: 230px;
  margin-bottom: 3px;
}

.data img {
  width: 100%;
}

.data h2 {
  color: #3f1583;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.data label {
  align-self: start;
  margin-bottom: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding-left: 12px;
  text-align: initial;
}

.data input,
.login input {
  border-radius: 20px;
  border: 2px solid black;
  height: 35px;
  width: 230px;
  padding-left: 12px;
  margin-bottom: 6px;
}

::placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
}

:focus:active {
  border-color: #3f1583;
}

.register button,
.login button {
  border-radius: 20px;
  border-color: #3f1583;
  border-style: none;
  background-color: #3f1583;
  color: white;
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  font-size: 0.95em;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  width: 145px;
  height: 35px;
  align-self: center;
}

.data button:hover {
  background-color: #c285ff;
}

.data a,
.login a {
  color: #3f1583;
}

.remember,
.psw,
.footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.85em;
  margin-top: 8px;
  text-align: center;
}

.google {
  text-align: center;
}

.google p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.85em;
  margin-top: 5px;
}

.google button {
  background-color: white;
  border: 0 none;
  font-size: 2em;
  color: #3f1583;
  cursor: pointer;
  padding: 3px;
  margin-top: 10px;
}

.google button:hover {
  background-color: white;
  color: #c285ff;
}

/*------------*/

/* HOME */
/* Menu Hamburguer */
header #menu{
  width: 35px;
  height: 30px;
  margin: 25px 0 15px 15px;
  cursor: pointer;
}
.bar{
  height: 5px;
  width: 100%;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  background-color: black;
}
header #bar1{
  transform: translateY(-4px);
}
header #bar3{
  transform: translateY(4px);
}
.nav-home li a{
  color: white;
  font-family: 'Fira Code', monospace;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}
.nav-home li a:hover{
  font-weight: bold;
}
.nav-home li{
  list-style: none;
  padding: 3px 0;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 5px;
  height: 33px;
  font-size: 18px;
  font-style: normal;
}
.nav-home #li-logout{
  background-color: #3F1583;
}
.nav-home #li-profile{
  background-color: #FF9593;
}
.nav-home{
  padding: 0;
  margin: 0 10px;
  transition: 0.3s ease;
  display: none;
}
.menu-bg, #menu-bar{
  top: 0;
  left: 0;
  position: absolute;
}
.menu-bg{
  z-index: 2;
  /*width: 0;
  height: 0;*/
  margin: 30px 0 20px 20px;
  background-color: #C285FF;
  border-radius: 50%;
  transition: 0.3s ease;
}
header #menu-bar{
  z-index: 3;
}
.change-bg{
  width: 280px;
  height: 250px;
  transform: translate(-60%, -30%);
}
.change .bar{
  background-color: #FF9593;
}
.change #bar1{
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
  transform: translateY(-6px) rotateZ(45deg);
}
.change #bar2{
  opacity: 0;
}
.change{
  display: block;
}

/*nav*/
nav {
  align-items: center;
  background-color: white;
  display: flex;
  height: 65px;
  padding: 0 25px; 
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 1;
}

nav h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.85em;
  font-style: normal;
  font-weight: 400;
  flex-grow: 1;
  letter-spacing: 0.03em;
  text-align: center;
}

nav strong {
  color: #3f1583;
}

nav label {
  display: flex;
  align-items: center;
}

nav img {
  height: 26px;
}

nav button { 
  background-color: white;
  border-style: none;
  color: black;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.93em;
  letter-spacing: 0.03em;
  flex-direction: row-reverse;
  padding: 10px 6px;
}


/*------------*/

/*posts*/
.news { 
  display: flex; 
  justify-content: center; 
  flex-direction: column;
  padding-top: 90px;
}

.post-options{
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  margin: 10px 12px 0;
}

.post-options input{
  margin-top: 15px;
}

.post-options p{
  margin-top: 13px;
  margin-right: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  font-family: 'Fira Code', monospace;
  font-size: 0.8em; 
  font-weight: 600;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  border: 3px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  height: 175px;
  width: 280px;
}

.post textarea {
  box-sizing: border-box;
  border: 3px solid #c285ff;
  border-radius: 10px;
  background-color: rgba(255, 149, 147, 0.15);
  color: #4F4F4F;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9em; /*17px*/
  font-weight: 600;
  height: 108px;
  text-align: left;
  padding: 8px 12px 10px;
  resize: none;
  width: 250px;
}

.post button { 
  align-self: flex-end;
  background: #3f1583;
  border: 0 none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-family: 'Fira Code', monospace;
  font-size: 0.7em; 
  font-weight: 600;
  padding: 5px 15px;
  letter-spacing: 0.03em;
  margin-left: 10px;
  text-align: center;
  width: fit-content;
}

.privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.privacy label{
  color: black;
  font-family: 'Fira Code', monospace;
  font-size: 0.6em;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding-right: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1.5px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:#3f1583;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3f1583;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

.all-posts {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 20px;
  width: 280px;
  background: #ffffff;
  justify-content: center;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #3f1583;
  border-radius: 5px 5px 0px 0px;
  padding: 12px;
}

.top figure{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top img{
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 10px;
}

.top figcaption {
  color: white;
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.edit {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.edit button {
  background: #3f1583;
  border: 0 none;
  color: white;
  cursor: pointer;
  font-family: 'Fira Code', monospace;
  font-size: 0.6em;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 2.5px;
  text-align: right;
}

.edit button:hover {
  color: #c285ff;
}

.text textarea { 
  background-color: white;
  border: 0 none ;
  outline: none;
  font-family: 'Source Sans Pro';
  font-size: 0.85em;
  padding: 15px 15px 10px;
  line-height: 1.4em;
  overflow-wrap: break-word;
  overflow-y: hidden;
  resize: none;
  text-align: left; 
  width: 276px;
  word-wrap: break-word;
}

.text textarea:focus {
  outline: 0 none;
}

.bottom {
  font-family: 'Source Sans Pro', sans-serif; 
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0 5px 8px;
}

.like button{
  background-color: white;
  border: 0 none;
  font-size: 1.3em;
  color: black;
  cursor: pointer;
  padding: 5px 5px 0 10px;
}

.like p {
  align-items: center;
  color: #3F1583;
  display: flex;
  font-family: 'Fira Code', monospace;
  font-size: 0.75em;
  font-weight: 600;
}

.private {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.delete {
  background-color: white;
  border: 0 none;
  font-size: 1.1em;
  color: black;
  cursor: pointer;
  padding: 0 10px;
}

.like button:hover, .delete:hover {
  color: #3F1583;
}

/* scroll */
::-webkit-scrollbar-track {
  background-color: #3f1583;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #8a15ff;
}
/*------------*/


/* mobile e desktop*/
.mobile {
  display: block;
}

.desktop {
  display: none;
}

.profile {
  display: flex;
  justify-content: space-around;
}
/*------------*/

/* media querie */
@media (min-width: 900px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .row-desk {
    flex-direction: row;
  }

  .login h1 {
    font-size: 3.3em;
  }

  .welcome {
    font-size: 1em;
  }

  .data figure {
    width: 45vw;
    margin: 0 5vw;
  }

  .data input,
  .login input {
    width: 25vw;
  }

  .register {
    width: 25vw;
  }

  .post,
  .all-posts {
    width: 26vw;
  }

  .text textarea {
    width: 25.5vw;
  }
  .post textarea {
    width: 24vw;
  }

  .edit {
    display: block;
  }
}
/*------------*/
