/* soft reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 320px) {
  body {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 1.5em;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 2em;
  }
}


/* Kelly */
/*containers*/
body{
  fontes
}

main{
  display: flex;
}

.form {
  display: flex;
  
}

/* Tamires */
/*img*/
.form img{
  width: 242.5px;
  height: 148.15px;
}

/* Kelly*/
/*logo*/
.login h1{

}

.login strong{

}

/*Larissa*/
/*form*/

.inputs{
  display: inline-grid;
  border-style: dotted;
  border-color: blue;
}

.form input, .login input{
  border-style: dotted;
  border-color: pink;
}

.form label{

}


/*Larissa*/
/*botões*/
.form button, .login button{

}

.form p, .login p{

}

.form a, .login a{

}