/* soft reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: 100vw 100vh;
  height: 100vh;
  font-size: 1em;
}

/* containers */
.flex {
  display: flex;
  justify-content: center;
}

.center {
  align-items: center;
  height: 100%;
}

.row-desk {
  flex-direction: column;
}

.column {
  flex-direction: column;
}
/*------------*/

/*login*/
.login {
  width: 242px;
}

.login h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.8em;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 20px;
}

.login strong{
  font-weight: 900;
  color: #3F1583;
}

.alert {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 0.01em;
  color: #3F1583;
  margin: -5px 0 12px;
  text-align: center;
}

.welcome {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  font-size: 0.87em;
  letter-spacing: 0.02em;
  margin: 2.5px 0 20px;
}
/*------------*/

/*forms*/
.form img{
  height: 100%;
}

.form h2 {
  color: #3F1583;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.form label{
  align-self: baseline;
  text-align: initial;
  margin-bottom: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding-left: 12px;
}

.form input, .login input{
  border-radius: 20px;
  border: 2px solid black;
  height: 35px;
  width: 230px;
  padding-left: 12px;
  margin-bottom: 12px;
}

.remember-me{
  align-self: baseline;
}

::placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
}

.form button, .login button {
  width: 145px;
  height: 35px;
  border-radius: 20px;
  background-color: #3F1583;
  border-color: #3F1583;
  border-style: none;
  color: white;
  align-self: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  font-size: 0.95em;
  letter-spacing: 0.01em;
}

.form button:hover {
  background-color: #C285FF;
}

.form a, .login a {
  color: #3F1583;
}

.psw, .footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.85em;
  align-self: center;
  margin-top: 12px;
}
/*------------*/

/* mobile e desktop*/
.mobile {
  display: block;
}

.desktop {
  display: none;
}

@media (min-width: 900px) {
  .mobile {
    display: none;
  }
  
  .desktop {
    display: block;
  }

  .row-desk {
    flex-direction: row;
  }

  .login {
    width: 40vw;
  }

  .login h1 {
    font-size: 3.5em;
  }

  .welcome {
    font-size: 1em;
  }

  .form img{
    height: 35vw;
  }

  .form input, .login input{
    width: 25vw;
  }
}
/*------------*/